[project]
	description = first website
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Savan (Savan777)
[access "refs/for/refs/*"]
	read = group user/Savan (Savan777)
	push = group user/Savan (Savan777)
	label-Code-Review = -2..+2 group user/Savan (Savan777)
	label-Verified = -1..+1 group user/Savan (Savan777)
	rebase = group user/Savan (Savan777)
	removeReviewer = group user/Savan (Savan777)
	submit = group user/Savan (Savan777)
[access "refs/heads/*"]
	read = group user/Savan (Savan777)
	create = group user/Savan (Savan777)
	push = +force group user/Savan (Savan777)
	pushMerge = group user/Savan (Savan777)
[access "refs/tags/*"]
	push = group user/Savan (Savan777)
	push = +force group user/Savan (Savan777)
